<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Application Display Name -->
    <display-name>Clinic Booking System</display-name>
    <!-- Welcome File List -->
    <servlet>
        <servlet-name>ReceptionistManageAppointmentController</servlet-name>
        <servlet-class>controller.ReceptionistManageAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMyPatientMedicalRecordController</servlet-name>
        <servlet-class>controller.ManageMyPatientMedicalRecordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMyPatientMedicalRecordDetailController</servlet-name>
        <servlet-class>controller.ManageMyPatientMedicalRecordDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMyFeedbackController</servlet-name>
        <servlet-class>controller.ManageMyFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageInvoiceController</servlet-name>
        <servlet-class>controller.ManageInvoiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PharmacistDashboardController</servlet-name>
        <url-pattern>/pharmacist-dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMedicineController</servlet-name>
        <url-pattern>/manage-medicine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceptionistManageAppointmentController</servlet-name>
        <url-pattern>/receptionist-manage-appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMyPatientMedicalRecordController</servlet-name>
        <url-pattern>/manage-my-patient-medical-record</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMyPatientMedicalRecordDetailController</servlet-name>
        <url-pattern>/manage-my-patient-medical-record-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMyFeedbackController</servlet-name>
        <url-pattern>/manage-my-feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageInvoiceController</servlet-name>
        <url-pattern>/manage-invoice</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <!-- HomePageController -->
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>controller.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PharmacistDashboardController</servlet-name>
        <servlet-class>controller.phamacist.PharmacistDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMedicineController</servlet-name>
        <servlet-class>controller.phamacist.ManageMedicineController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <!-- ReceptionistDashboardController -->
    <servlet>
        <servlet-name>ReceptionistDashboardController</servlet-name>
        <servlet-class>controller.ReceptionistDashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReceptionistDashboardController</servlet-name>
        <url-pattern>/receptionist-dashboard</url-pattern>
    </servlet-mapping>
    <!-- ManageMyAppointmentController -->
    <servlet>
        <servlet-name>ManageMyAppointmentController</servlet-name>
        <servlet-class>controller.ManageMyAppointmentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageMyAppointmentController</servlet-name>
        <url-pattern>/manage-my-appointments</url-pattern>
    </servlet-mapping>
    <!-- DoctorListController -->
    <servlet>
        <servlet-name>DoctorListController</servlet-name>
        <servlet-class>controller.DoctorListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoctorListController</servlet-name>
        <url-pattern>/doctor-list</url-pattern>
    </servlet-mapping>
    <!-- DoctorDashboardController -->
    <servlet>
        <servlet-name>DoctorDashboardController</servlet-name>
        <servlet-class>controller.DoctorDashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoctorDashboardController</servlet-name>
        <url-pattern>/doctor-dashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DoctorDetailController</servlet-name>
        <servlet-class>controller.DoctorDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoctorDetailController</servlet-name>
        <url-pattern>/doctor-detail</url-pattern>
    </servlet-mapping>
    <!-- MyAppointmentDetailController -->
    <servlet>
        <servlet-name>MyAppointmentDetailController</servlet-name>
        <servlet-class>controller.MyAppointmentDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyAppointmentDetailController</servlet-name>
        <url-pattern>/my-appointment-detail</url-pattern>
    </servlet-mapping>
    <!-- MyPatientAppointmentDetailController -->
    <servlet>
        <servlet-name>MyPatientAppointmentDetailController</servlet-name>
        <servlet-class>controller.MyPatientAppointmentDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyPatientAppointmentDetailController</servlet-name>
        <url-pattern>/my-patient-appointment-detail</url-pattern>
    </servlet-mapping>
    <!-- MyPatientAppointmentController -->
    <servlet>
        <servlet-name>ManageMyPatientAppointment</servlet-name>
        <servlet-class>controller.ManageMyPatientAppointmentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageMyPatientAppointment</servlet-name>
        <url-pattern>/manage-my-patient-appointment</url-pattern>
        <welcome-file-list>
            <welcome-file>index.jsp</welcome-file>
            <welcome-file>home</welcome-file>
        </welcome-file-list>
        <servlet>
            <servlet-name>HomePageController</servlet-name>
            <servlet-class>controller.HomePageController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>PharmacistDashboardController</servlet-name>
            <servlet-class>controller.phamacist.PharmacistDashboardController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>ManageMedicineController</servlet-name>
            <servlet-class>controller.phamacist.ManageMedicineController</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>HomePageController</servlet-name>
            <url-pattern>/home</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>ReceptionistDashboardController</servlet-name>
            <servlet-class>controller.ReceptionistDashboardController</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>ReceptionistDashboardController</servlet-name>
            <url-pattern>/receptionist-dashboard</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>ManageMyAppointmentController</servlet-name>
            <servlet-class>controller.ManageMyAppointmentController</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>ManageMyAppointmentController</servlet-name>
            <url-pattern>/manage-my-appointments</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>DoctorListController</servlet-name>
            <servlet-class>controller.DoctorListController</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>DoctorListController</servlet-name>
            <url-pattern>/doctor-list</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>DoctorDashboardController</servlet-name>
            <servlet-class>controller.DoctorDashboardController</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>DoctorDashboardController</servlet-name>
            <url-pattern>/doctor-dashboard</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>DoctorDetailController</servlet-name>
            <servlet-class>controller.DoctorDetailController</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>DoctorDetailController</servlet-name>
            <url-pattern>/doctor-detail</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>ManageMyPatientAppointment</servlet-name>
            <servlet-class>controller.ManageMyPatientAppointment</servlet-class>
        </servlet>
    </servlet-mapping>
    <!-- DefaultHomeFilter -->
    <filter>
        <filter-name>DefaultHomeFilter</filter-name>
        <filter-class>filter.DefaultHomeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DefaultHomeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
