<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Application Display Name -->
    <display-name>Clinic Booking System</display-name>
    <!-- Welcome File List -->
    <servlet>
        <servlet-name>ReceptionistManageAppointmentController</servlet-name>
        <servlet-class>controller.receptionist.ReceptionistManageAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMyPatientMedicalRecordController</servlet-name>
        <servlet-class>controller.doctor.ManageMyPatientMedicalRecordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMyPatientMedicalRecordDetailController</servlet-name>
        <servlet-class>controller.doctor.ManageMyPatientMedicalRecordDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMyFeedbackController</servlet-name>
        <servlet-class>controller.ManageMyFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageInvoiceController</servlet-name>
        <servlet-class>controller.receptionist.ManageInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorController</servlet-name>
        <servlet-class>controller.DoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PharmacistManagePrescriptionController</servlet-name>
        <servlet-class>controller.phamacist.PharmacistManagePrescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientLoginController</servlet-name>
        <servlet-class>controller.authentication.PatientLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLoginController</servlet-name>
        <servlet-class>controller.authentication.StaffLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMyPatientPrescriptionController</servlet-name>
        <servlet-class>controller.doctor.ManageMyPatientPrescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientLogoutController</servlet-name>
        <servlet-class>controller.authentication.PatientLogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLogoutController</servlet-name>
        <servlet-class>controller.authentication.StaffLogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMyPrescriptionsController</servlet-name>
        <servlet-class>controller.patient.ManageMyPrescriptionsController</servlet-class>
    
    <servlet>
        <servlet-name>AdminDashboardController</servlet-name>
        <servlet-class>controller.admin.AdminDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageAccountController</servlet-name>
        <servlet-class>controller.admin.AdminManageAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PharmacistDashboardController</servlet-name>
        <url-pattern>/pharmacist-dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMedicineController</servlet-name>
        <url-pattern>/manage-medicine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceptionistManageAppointmentController</servlet-name>
        <url-pattern>/receptionist-manage-appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMyPatientMedicalRecordController</servlet-name>
        <url-pattern>/manage-my-patient-medical-record</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMyPatientMedicalRecordDetailController</servlet-name>
        <url-pattern>/manage-my-patient-medical-record-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMyFeedbackController</servlet-name>
        <url-pattern>/manage-my-feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageInvoiceController</servlet-name>
        <url-pattern>/manage-invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorController</servlet-name>
        <url-pattern>/doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PharmacistManagePrescriptionController</servlet-name>
        <url-pattern>/pharmacist-manage-prescription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientLoginController</servlet-name>
        <url-pattern>/patient-login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLoginController</servlet-name>
        <url-pattern>/staff-login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMyPatientPrescriptionController</servlet-name>
        <url-pattern>/manage-my-patient-prescription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientLogoutController</servlet-name>
        <url-pattern>/patient-logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLogoutController</servlet-name>
        <url-pattern>/staff-logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMyPrescriptionsController</servlet-name>
        <url-pattern>/manage-my-prescriptions</url-pattern>
    <!-- AdminDashboardController -->
    <servlet-mapping>
        <servlet-name>AdminDashboardController</servlet-name>
        <url-pattern>/admin-dashboard</url-pattern>
    </servlet-mapping>
    <!-- AdminManageAccountController -->
    <servlet-mapping>
        <servlet-name>AdminManageAccountController</servlet-name>
        <url-pattern>/admin-manage-account</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <!-- HomePageController -->
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>controller.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PharmacistDashboardController</servlet-name>
        <servlet-class>controller.phamacist.PharmacistDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMedicineController</servlet-name>
        <servlet-class>controller.phamacist.ManageMedicineController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <!-- ReceptionistDashboardController -->
    <servlet>
        <servlet-name>ReceptionistDashboardController</servlet-name>
        <servlet-class>controller.receptionist.ReceptionistDashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReceptionistDashboardController</servlet-name>
        <url-pattern>/receptionist-dashboard</url-pattern>
    </servlet-mapping>
    <!-- ManageMyAppointmentController -->
    <servlet>
        <servlet-name>ManageMyAppointmentController</servlet-name>
        <servlet-class>controller.ManageMyAppointmentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageMyAppointmentController</servlet-name>
        <url-pattern>/manage-my-appointments</url-pattern>
    </servlet-mapping>
    <!-- ManageMyMedicalRecordController -->
    <servlet>
        <servlet-name>ManageMyMedicalRecordController</servlet-name>
        <servlet-class>controller.ManageMyMedicalRecordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageMyMedicalRecordController</servlet-name>
        <url-pattern>/manage-my-medical-records</url-pattern>
    </servlet-mapping>
    <!-- DoctorDashboardController -->
    <servlet>
        <servlet-name>DoctorDashboardController</servlet-name>
        <servlet-class>controller.doctor.DoctorDashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoctorDashboardController</servlet-name>
        <url-pattern>/doctor-dashboard</url-pattern>
    </servlet-mapping>
    <!-- MyPatientAppointmentDetailController -->
    <servlet>
        <servlet-name>MyPatientAppointmentDetailController</servlet-name>
        <servlet-class>controller.doctor.MyPatientAppointmentDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyPatientAppointmentDetailController</servlet-name>
        <url-pattern>/my-patient-appointment-detail</url-pattern>
    </servlet-mapping>
    <!-- MyPatientAppointmentController -->
    <servlet>
        <servlet-name>ManageMyPatientAppointment</servlet-name>
        <servlet-class>controller.doctor.ManageMyPatientAppointmentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageMyPatientAppointment</servlet-name>
        <url-pattern>/manage-my-patient-appointment</url-pattern>
        <welcome-file-list>
            <welcome-file>index.jsp</welcome-file>
            <welcome-file>home</welcome-file>
        </welcome-file-list>
        <servlet>
            <servlet-name>HomePageController</servlet-name>
            <servlet-class>controller.HomePageController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>PharmacistDashboardController</servlet-name>
            <servlet-class>controller.phamacist.PharmacistDashboardController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>ManageMedicineController</servlet-name>
            <servlet-class>controller.phamacist.ManageMedicineController</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>HomePageController</servlet-name>
            <url-pattern>/home</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>ReceptionistDashboardController</servlet-name>
            <servlet-class>controller.ReceptionistDashboardController</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>ReceptionistDashboardController</servlet-name>
            <url-pattern>/receptionist-dashboard</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>ManageMyAppointmentController</servlet-name>
            <servlet-class>controller.ManageMyAppointmentController</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>ManageMyAppointmentController</servlet-name>
            <url-pattern>/manage-my-appointments</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>DoctorDashboardController</servlet-name>
            <servlet-class>controller.DoctorDashboardController</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>DoctorDashboardController</servlet-name>
            <url-pattern>/doctor-dashboard</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>ManageMyPatientAppointment</servlet-name>
            <servlet-class>controller.ManageMyPatientAppointment</servlet-class>
        </servlet>
    </servlet-mapping>
    <!-- DefaultHomeFilter -->
    <filter>
        <filter-name>DefaultHomeFilter</filter-name>
        <filter-class>filter.DefaultHomeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DefaultHomeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
